<div class="outer">
  <h1>Your account</h1>
  <div class="account-details">
    <div class="details-row">
      <p class="label">Firstname</p>
      <p class="value" *ngIf="!editFields">Piotr</p>
      <input autocomplete="off" type="text" name="firstname" *ngIf="editFields"/>
    </div>
    <div class="details-row">
      <p class="label">Lastname</p>
      <p class="value" *ngIf="!editFields">Kalota</p>
      <input autocomplete="off" type="text" name="lastname" *ngIf="editFields"/>
    </div>
    <div class="details-row">
      <p class="label">Email</p>
      <p class="value" *ngIf="!editFields">piotrkalotaspam@gmail.com</p>
      <input autocomplete="off" type="email" name="email" *ngIf="editFields"/>
    </div>
    <div class="details-row">
      <p class="label">Password</p>
      <div>
        <button>Change password</button>
      </div>
    </div>
    <div class="details-row">
      <p class="label">Gender</p>
      <p class="value" *ngIf="!editFields">Man</p>
      <div class="gender-box" *ngIf="editFields">
        <div>
          <input class="input-small" type="radio" name="gender" value="man"/>
          <label>Man</label>
        </div>
        <div>
          <input class="input-small" type="radio" name="gender" value="woman"/>
          <label>Woman</label>
        </div>
        <div>
          <input class="input-small" type="radio" name="gender" value="other"/>
          <label>Other</label>
        </div>
      </div>
    </div>
    <div class="details-row">
      <p class="label">Birthday</p>
      <p class="value" *ngIf="!editFields">01/05/1999</p>
      <div *ngIf="editFields">
        <input autocomplete="off" type="date" placeholder="Birthday&nbsp;" name="birthday"/>
      </div>
    </div>
    <div class="details-row">
      <p class="label">Street name</p>
      <p class="value" *ngIf="!editFields">Cambell</p>
      <input autocomplete="off" type="text" name="streetName" *ngIf="editFields"/>
    </div>
    <div class="details-row">
      <p class="label">Street number</p>
      <p class="value" *ngIf="!editFields">23</p>
      <input autocomplete="off" type="number" name="streetNumber" min="1" max="99999" *ngIf="editFields"/>
    </div>
    <div class="details-row">
      <p class="label">City name</p>
      <p class="value" *ngIf="!editFields">Los Angeles</p>
      <input autocomplete="off" type="text" name="cityName" *ngIf="editFields"/>
    </div>
    <div class="details-row">
      <p class="label">Postal code</p>
      <p class="value" *ngIf="!editFields">Y09YU1</p>
      <input autocomplete="off" type="text" name="postalCode" *ngIf="editFields"/>
    </div>
    <!-- add country selector-->
    <div class="details-row">
      <p class="label">Phone number</p>
      <p class="value" *ngIf="!editFields">333 222 111</p>
      <input autocomplete="off" type="text" name="phoneNumber" *ngIf="editFields"/>
    </div>
  </div>
</div>
