@import '/src/styles.scss';

.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;

  .account-details {

    .details-row {
      display: flex;

      p {
        margin: 0;
      }

      .label {
        flex: 0.2;
        margin-right: 2em;
      }

      .value {
        flex: 0.8;
        font-weight: bold;
      }
    }
  }
}

/* Mobile */
@media screen and (max-width: $breakpoint-tablet) {
  @import './scss/mobile.scss';
}
/* Tablet and Desktop */
@media screen and (min-width: $breakpoint-tablet) {
  @import './scss/desktop.scss';
}
