<div class="outer">
  <h1>Your account</h1>
  <div class="account-details">
    <div class="details-row">
      <p class="label">Firstname</p>
      <p class="value" *ngIf="!editFields">{{user.accountInfo.firstname}}</p>
      <div class="input-box" *ngIf="editFields">
        <input autocomplete="off" type="text" name="firstname"
          [(ngModel)]="formInputs.firstname.value" (change)="ngOnFieldChange()"/>
        <p>{{formInputs.firstname.currentMessage}}</p>
      </div>
    </div>
    <div class="details-row">
      <p class="label">Lastname</p>
      <p class="value" *ngIf="!editFields">{{user.accountInfo.lastname}}</p>
      <div class="input-box" *ngIf="editFields">
        <input autocomplete="off" type="text" name="lastname" *ngIf="editFields"
          [(ngModel)]="formInputs.lastname.value" (change)="ngOnFieldChange()"/>
        <p>{{formInputs.lastname.currentMessage}}</p>
      </div>
    </div>
    <div class="details-row">
      <p class="label">Email</p>
      <p class="value" *ngIf="!editFields">{{user.accountInfo.email}}</p>
      <div class="input-box" *ngIf="editFields">
        <input autocomplete="off" type="email" name="email" *ngIf="editFields"
          [(ngModel)]="formInputs.email.value" (change)="ngOnFieldChange()"/>
        <p>{{formInputs.email.currentMessage}}</p>
      </div>
    </div>
    <div class="details-row">
      <p class="label">Password</p>
      <div>
        <button class="black-button">Change password</button>
      </div>
    </div>
    <div class="details-row">
      <p class="label">Gender</p>
      <p class="value" *ngIf="!editFields">{{user.accountInfo.gender}}</p>
      <div class="gender-box" *ngIf="editFields">
        <div>
          <input class="input-small" type="radio" name="gender" value="man"
            [(ngModel)]="formInputs.gender.value"/>
          <label>Man</label>
        </div>
        <div>
          <input class="input-small" type="radio" name="gender" value="woman"
            [(ngModel)]="formInputs.gender.value"/>
          <label>Woman</label>
        </div>
        <div>
          <input class="input-small" type="radio" name="gender" value="other"
            [(ngModel)]="formInputs.gender.value"/>
          <label>Other</label>
        </div>
      </div>
    </div>
    <div class="details-row">
      <p class="label">Birthday</p>
      <p class="value" *ngIf="!editFields">{{user.accountInfo.birthdayDate}}</p>
      <div class="input-box" *ngIf="editFields">
        <input autocomplete="off" type="date" placeholder="Birthday&nbsp;" name="birthday"
          [(ngModel)]="formInputs.birthday.value" (change)="ngOnFieldChange()"/>
        <p>{{formInputs.birthday.currentMessage}}</p>
      </div>
    </div>
    <div class="details-row">
      <p class="label">Street name</p>
      <p class="value" *ngIf="!editFields">{{user.accountInfo.address.street}}</p>
      <div class="input-box" *ngIf="editFields">
        <input autocomplete="off" type="text" name="streetName" *ngIf="editFields"
          [(ngModel)]="formInputs.street.value" (change)="ngOnFieldChange()"/>
        <p>{{formInputs.street.currentMessage}}</p>
      </div>
    </div>
    <div class="details-row">
      <p class="label">Street number</p>
      <p class="value" *ngIf="!editFields">{{user.accountInfo.address.streetNumber}}</p>
      <div class="input-box" *ngIf="editFields">
        <input autocomplete="off" type="number" name="streetNumber" min="1" max="99999" *ngIf="editFields"
          [(ngModel)]="formInputs.streetNumber.value" (change)="ngOnFieldChange()"/>
        <p>{{formInputs.streetNumber.currentMessage}}</p>
      </div>
    </div>
    <div class="details-row">
      <p class="label">City name</p>
      <p class="value" *ngIf="!editFields">{{user.accountInfo.address.city}}</p>
      <div class="input-box" *ngIf="editFields">
        <input autocomplete="off" type="text" name="cityName" *ngIf="editFields"
          [(ngModel)]="formInputs.city.value" (change)="ngOnFieldChange()"/>
        <p>{{formInputs.city.currentMessage}}</p>
      </div>
    </div>
    <div class="details-row">
      <p class="label">Postal code</p>
      <p class="value" *ngIf="!editFields">{{user.accountInfo.address.postalCode}}</p>
      <div class="input-box" *ngIf="editFields">
        <input autocomplete="off" type="text" name="postalCode" *ngIf="editFields"
          [(ngModel)]="formInputs.postalCode.value" (change)="ngOnFieldChange()"/>
        <p>{{formInputs.postalCode.currentMessage}}</p>
      </div>
    </div>
    <div class="details-row">
      <p class="label">Country</p>
      <p class="value" *ngIf="!editFields">{{user.accountInfo.address.country}}</p>
      <div class="input-box" *ngIf="editFields">
        <select name="country" *ngIf="editFields" (change)="ngOnFieldChange()">
          <option value="" selected>{{user.accountInfo.address.country}}</option>
          <option *ngFor="let c of countries" value="{{c}}">{{c | titlecase }}</option>
        </select>
        <p>{{formInputs.country.currentMessage}}</p>
      </div>
    </div>
    <div class="details-row">
      <p class="label">Phone number</p>
      <p class="value" *ngIf="!editFields">{{user.accountInfo.phone}}</p>
      <div class="input-box" *ngIf="editFields">
        <input autocomplete="off" type="text" name="phoneNumber" *ngIf="editFields"
          [(ngModel)]="formInputs.phoneNumber.value" (change)="ngOnFieldChange()"/>
        <p>{{formInputs.phoneNumber.currentMessage}}</p>
      </div>
    </div>
    <div class="action-buttons">
      <button class="white-button" (click)="ngShowDeletePopup()">Delete account</button>
      <div>
        <button class="black-button" (click)="ngEditAccount()" *ngIf="!editFields">Edit</button>
        <button class="white-button" (click)="ngCancelAccountChanges()" *ngIf="editFields">Cancel</button>
        <button class="black-button" (click)="ngSaveAccountChanges()" *ngIf="editFields">Save</button>
      </div>
    </div>
  </div>
  <div class="delete-popup" [ngClass]="{'delete-popup-visible': deletePopupVisible, 'delete-popup-invisible': !deletePopupVisible}">
    <p>Are you sure you want to delete your account?</p>
    <div class="buttons">
      <button class="black-button" (click)="ngDeleteAccountNo()">No</button>
      <button class="white-button" (click)="ngDeleteAccountYes()">Yes</button>
    </div>
  </div>
</div>
