@import '/src/styles.scss';

#password {
  justify-content: flex-start;
}

.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;

  .account-details {
    margin-top: 3em;

    .details-row {
      display: flex;
      justify-content: space-between;
      margin: 2em 1em;

      p {
        margin: 0;
        word-break: break-all;
      }

      .label {
        min-width: 8em;
      }

      .value {
        flex: 0.9;
        font-weight: bold;
      }

      .input-box {
        display: flex;
        flex-direction: column;
        flex: 0.9;

        input {
          flex: 1;
          border-bottom: 1px solid $dark-grey;
        }

        p {
          color: $error-color;
          margin-top: 0.5em;
          font-size: 0.75em;
          height: 0.75em;
        }
      }

      div {
        flex: 0.9;
      }

      .gender-box {
        display: flex;

        label {
          margin-right: 1em;
        }
      }

      select {
        margin: 0;
        flex: 0.9;
      }
    }
  }

  .white-button {
    color: $dark-grey;
    border: 1px solid $dark-grey;
    font-size: 0.75em;
    padding: 1em 2em;
  }

  .black-button {
    border: 1px solid $dark-grey;
    background-color: $dark-grey;
    font-size: 0.75em;
    padding: 1em 2em;
  }

  .delete-popup, .change-password-popup {
    position: fixed;
    padding: 2em;
    top: 50%;
    left: 50%;
    background-color: white;
    border: 2px solid $dark-grey;
    box-shadow: $box-shadow;
    transform: translate(-50%, -50%);
    z-index: 2;

    .buttons {
      display: flex;
      justify-content: space-around;
    }
  }

  .delete-popup-visible {
    display: block;
  }

  .delete-popup-invisible {
    display: none;
  }

  .change-password-popup {

    p {
      text-align: center;
    }

    .password-inputs {
      display: flex;
      flex-direction: column;
      margin: 2em 0;

      input {
        margin: 1em;
        border-bottom: 1px solid $dark-grey;

        ::placeholder {
          color: white;
        }
      }

      .error {
        color: $error-color;
        font-size: 0.75em;
      }
    }

    button {
      width: 100%;
      margin-bottom: 1em;
    }
  }

  .change-password-popup-visible {
    display: block;
  }

  .change-password-popup-invisible {
    display: none;
  }
}

/* Mobile */
@media screen and (max-width: $breakpoint-tablet) {
  @import './scss/mobile.scss';
}
/* Tablet and Desktop */
@media screen and (min-width: $breakpoint-tablet) {
  @import './scss/desktop.scss';
}
