@import '/src/styles.scss';

.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;

  .account-details {
    margin-top: 3em;

    .details-row {
      display: flex;
      justify-content: space-between;
      margin: 1em 1em;

      p {
        margin: 0;
      }

      .label {
        min-width: 8em;
      }

      .value {
        flex: 0.7;
        font-weight: bold;
      }

      input {
        flex: 0.7;
        border-bottom: 1px solid $dark-grey;
      }
    }
  }
}

/* Mobile */
@media screen and (max-width: $breakpoint-tablet) {
  @import './scss/mobile.scss';
}
/* Tablet and Desktop */
@media screen and (min-width: $breakpoint-tablet) {
  @import './scss/desktop.scss';
}
