.outer {
  flex-direction: row;
  justify-content: space-between;
  padding: 2em 3em 0em 3em;

  .element {
    width: 25%;

    img:hover {
      cursor: pointer;
    }
  }

  #about-us:hover {
    cursor: pointer;
  }

  #about-us {
    justify-self: center;
  }
}
