<div class="outer">
  <div class="element">
    <p class="title">Contact</p>
    <p class="subinfo">cheaclo@support.com</p>
    <p class="subinfo">+48 000 222 000</p>
  </div>
  <div id="about-us" class="element">
    <p class="title">About us</p>
  </div>
  <div class="element">
    <p class="title">Follow us</p>
    <div>
      <img src="assets/icons/pinterest.svg"/>
      <img src="assets/icons/facebook.svg"/>
      <img src="assets/icons/instagram.svg"/>
    </div>
  </div>
</div>
<p id="copyrights">Cheaclo © 2021 All rights reserved</p>
