.outer {
  h1 {
    font-size: 3em;
  }

  form {
    input {
      width: 50%;
      padding-left: 2em;
    }

    #error {
      width: 50%;
      padding-left: 2em;
    }

    button {
      width: 25%;

      &:hover {
        cursor: pointer;
        opacity: 0.95;
      }
    }
  }
}
