.outer {
  h1 {
    font-size: 2em;
  }

  form {
    input {
      width: 75%;
      padding-left: 1em;
    }

    #error {
      width: 75%;
      padding-left: 1em;
    }

    button {
      width: 80%;
    }
  }

  p {
    margin-top: 2em;
    font-size: 0.75em;
  }
}
