@import '/src/styles.scss';

#add-extra-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#extra-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

#serverMessage {
  margin-top: 2em;
  width: 100%;
}

.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 0;

  h1 {
    font-weight: normal;
  }

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .input-element {
      display: flex;
      flex-direction: column;
      flex: 1;

      input {
        margin: 2em 2em 0.5em 2em;
        padding-bottom: 1em;
        padding-left: 2em;
      }

      input[type="date"] {
        font-family: Spartan;
        color: $placeholder-color;
        min-width: 40%;
        margin-right: 2em;

        &::before {
          content: attr(placeholder) !important;
        }

        &::-webkit-calendar-picker-indicator {
          filter: invert(0.3);

          &:hover {
            cursor: pointer;
          }
        }
      }

      input[type="radio"] {
        margin: 0;
      }

      select, select:focus, select:visited {
        appearance: none;
        border: none;
        border-bottom: 1px solid $dark-grey;
        margin: 2em 2em 0.5em 2em;
        padding-bottom: 1em;
        color: $placeholder-color;
        outline: none;
        font-family: Spartan;

        &:hover {
          cursor: pointer;
        }

        option {
          font-family: Spartan;
        }
      }

      .invalid-input {
        border-bottom: 1px solid $error-color;

        &::placeholder {
          color: $error-color;
        }
      }

      .valid-input {
        border-bottom: 1px solid $dark-grey;

        &::placeholder {
          color: $dark-grey;
        }
      }
    }

    .error-message {
      margin: 0;
      font-size: 0.75em;
      padding-left: 3em;
      height: 1em;
      color: $error-color;
    }

    .visible {
      visibility: visible;
      max-height: fit-content;
    }

    .hidden {
      visibility: hidden;
      max-height: 0;
    }

    button {
      background-color: $dark-grey;
      font-size: 1em;
      padding: 1em;
      margin: 2em auto 2em auto;
      width: 50%;
    }
  } //form
} //.outer

/* Mobile */
@media screen and (max-width: $breakpoint-tablet) {
  @import './scss/mobile.scss';
}
/* Tablet and Desktop */
@media screen and (min-width: $breakpoint-tablet) {
  @import './scss/desktop.scss';
}

