<div class="outer">
  <h1>Sign up</h1>

  <form>
    <div class="form-row">
      <input class="input-half" autocomplete="off" type="text" placeholder="Firstname"/>
      <input class="input-half" autocomplete="off" type="text" placeholder="Lastname"/>
    </div>
    <div class="form-error-row">
      <p class="input-half">errr</p>
      <p class="input-half">errr</p>
    </div>

    <div class="form-row">
      <input class="input-full" autocomplete="off" type="email" placeholder="Email"/>
    </div>
    <div class="form-error-row">
      <p class="input-full">errr</p>
    </div>

    <div class="form-row">
      <input class="input-half" autocomplete="off" type="password" placeholder="Password"/>
    </div>
    <div class="form-error-row">
      <p class="input-full">errr</p>
    </div>

    <div id="extra-info">
      <div class="form-row">
        <input class="input-half" autocomplete="off" type="date" placeholder="Birthday&nbsp;" />
        <input class="input-one-sixth radio-input" type="radio" name="gender" value="man" checked/>
        <label>Man</label>
        <input class="input-one-sixth radio-input" type="radio" name="gender" value="woman"/>
        <label>Woman</label>
        <input class="input-one-sixth radio-input" type="radio" name="gender" value="other"/>
        <label>Other</label>
      </div>
      <div class="form-error-row">
        <p class="input-full">errr</p>
      </div>

      <div class="form-row">
        <select class="input-half">
          <option value="" disabled selected>Country</option>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
        <input class="input-half" autocomplete="off" type="text" placeholder="Phone number" />
      </div>
      <div class="form-error-row">
        <p class="input-half"></p>
        <p class="input-half">errr</p>
      </div>

      <div class="form-row">
        <input class="input-half" autocomplete="off" type="text" placeholder="Street name" />
        <input class="input-half" autocomplete="off" type="number" placeholder="Street number" />
      </div>
      <div class="form-error-row">
        <p class="input-half">errr</p>
        <p class="input-half">errr</p>
      </div>

      <div class="form-row">
        <input class="input-half" autocomplete="off" type="text" placeholder="City name" />
        <input class="input-half" autocomplete="off" type="text" placeholder="Postal code" />
      </div>
      <div class="form-error-row">
        <p class="input-half">errr</p>
        <p class="input-half">errr</p>
      </div>

    </div>
    <button>Sign up</button>
  </form>
</div>
