<div class="outer">
  <h1>Sign up</h1>

  <form>
    <div class="input-element input-medium">
      <input autocomplete="off" type="text" placeholder="Firstname" name="firstname"
        [(ngModel)]="formInputs.firstname.value" [ngClass]="{'valid-input': formInputs.firstname.valid, 'invalid-input': !formInputs.firstname.valid}" (change)="ngOnFieldChange(formInputs.firstname)"/>
      <p class="error-message" [innerText]="formInputs.firstname.currentMessage"></p>
    </div>
    <div class="input-element input-medium">
      <input autocomplete="off" type="text" placeholder="Lastname" name="lastname"
        [(ngModel)]="formInputs.lastname.value" [ngClass]="{'valid-input': formInputs.lastname.valid, 'invalid-input': !formInputs.lastname.valid}" (change)="ngOnFieldChange(formInputs.lastname)"/>
      <p class="error-message" [innerText]="formInputs.lastname.currentMessage"></p>
    </div>
    <div class="input-element input-large">
      <input autocomplete="off" type="email" placeholder="Email" name="email"
        [(ngModel)]="formInputs.email.value" [ngClass]="{'valid-input': formInputs.email.valid, 'invalid-input': !formInputs.email.valid}" (change)="ngOnFieldChange(formInputs.email)"/>
      <p class="error-message">{{formInputs.email.currentMessage}}</p>
    </div>
    <div class="input-element input-medium">
      <input autocomplete="off" type="password" placeholder="Password" name="email"
        [(ngModel)]="formInputs.password.value" [ngClass]="{'valid-input': formInputs.password.valid, 'invalid-input': !formInputs.password.valid}" (change)="ngOnFieldChange(formInputs.password)"/>
      <p class="error-message">{{formInputs.password.currentMessage}}</p>
    </div>
    <div class="input-element input-medium">
      <input autocomplete="off" type="password" placeholder="Repeat password" name="repeatPassword"
        [(ngModel)]="formInputs.repeatPassword.value" [ngClass]="{'valid-input': formInputs.repeatPassword.valid, 'invalid-input': !formInputs.repeatPassword.valid}" (change)="ngOnFieldChange(formInputs.repeatPassword)"/>
      <p class="error-message">{{formInputs.repeatPassword.currentMessage}}</p>
    </div>

    <div id="add-extra-info" (click)="ngToggleExtraInfo()">
        Add more & get more
      <img src="assets/icons/plus.svg" />
    </div>

    <div id="extra-info" [ngClass]="{'visible': formInputs.showExtraInfo, 'hidden': !formInputs.showExtraInfo}">
      <div class="input-element input-medium">
        <select name="country"
          [(ngModel)]="formInputs.country.value" [ngClass]="{'valid-input': formInputs.country.valid, 'invalid-input': !formInputs.country.valid}" #countrySelector (change)="ngOnFieldChange(formInputs.country)">
          <option value="" disabled selected>Country</option>
          <option *ngFor="let c of countries" value="{{c}}">{{c | titlecase }}</option>
        </select>
        <p class="error-message">{{formInputs.country.currentMessage}}</p>
      </div>
      <div class="input-element input-medium">
        <input autocomplete="off" type="text" placeholder="Phone number" name="phoneNumber"
          [(ngModel)]="formInputs.phoneNumber.value" [ngClass]="{'valid-input': formInputs.phoneNumber.valid, 'invalid-input': !formInputs.phoneNumber.valid}" (change)="ngOnFieldChange(formInputs.phoneNumber)"/>
        <p class="error-message" >{{formInputs.phoneNumber.currentMessage}}</p>
      </div>
      <div class="input-element input-medium">
        <input autocomplete="off" type="text" placeholder="Street name" name="streetName"
          [(ngModel)]="formInputs.street.value" [ngClass]="{'valid-input': formInputs.street.valid, 'invalid-input': !formInputs.street.valid}" (change)="ngOnFieldChange(formInputs.street)"/>
        <p class="error-message">{{formInputs.street.currentMessage}}</p>
      </div>
      <div class="input-element input-medium">
        <input autocomplete="off" type="number" placeholder="Street number" name="streetNumber" min="1" max="99999"
          [(ngModel)]="formInputs.streetNumber.value" [ngClass]="{'valid-input': formInputs.streetNumber.valid, 'invalid-input': !formInputs.streetNumber.valid}" (change)="ngOnFieldChange(formInputs.streetNumber)"/>
        <p class="error-message">{{formInputs.streetNumber.currentMessage}}</p>
      </div>
      <div class="input-element input-medium">
        <input autocomplete="off" type="text" placeholder="City name" name="city"
          [(ngModel)]="formInputs.city.value" [ngClass]="{'valid-input': formInputs.city.valid, 'invalid-input': !formInputs.city.valid}" (change)="ngOnFieldChange(formInputs.city)"/>
        <p class="error-message">{{formInputs.city.currentMessage}}</p>
      </div>
      <div class="input-element input-medium">
        <input autocomplete="off" type="text" placeholder="Postal code" name="postalCode"
          [(ngModel)]="formInputs.postalCode.value" [ngClass]="{'valid-input': formInputs.postalCode.valid, 'invalid-input': !formInputs.postalCode.valid}" (change)="ngOnFieldChange(formInputs.postalCode)"/>
        <p class="error-message">{{formInputs.postalCode.currentMessage}}</p>
      </div>
      <div class="input-element input-medium">
        <input autocomplete="off" type="date" placeholder="Birthday&nbsp;" name="birthday"
          [(ngModel)]="formInputs.birthday.value" [ngClass]="{'valid-input': formInputs.birthday.valid, 'invalid-input': !formInputs.birthday.valid}" (change)="ngOnFieldChange(formInputs.birthday)"/>
        <p class="error-message">{{formInputs.birthday.currentMessage}}</p>
      </div>
      <div class="input-element input-medium">
        <div id="gender-box">
          <input class="input-small" type="radio" name="gender" value="man"
            [(ngModel)]="formInputs.gender.value"/>
          <label>Man</label>
          <input class="input-small" type="radio" name="gender" value="woman"
            [(ngModel)]="formInputs.gender.value"/>
          <label>Woman</label>
          <input class="input-small" type="radio" name="gender" value="other"
            [(ngModel)]="formInputs.gender.value"/>
          <label>Other</label>
        </div>
        <p class="error-message">{{formInputs.gender.currentMessage}}</p>
      </div>
    </div>

    <p id="serverMessage" class="error-message">{{serverMessage}}</p>
    <button (click)="ngSubmit()">Sign up</button>
  </form>
</div>
