<div class="outer">
  <div>
    <a>
      <img src="assets/images/man.jpg" [routerLink]="['/typedProducts', 'man']"/>
      <p>Man</p>
    </a>
  </div>
  <div>
    <a>
      <img src="assets/images/woman.jpg" [routerLink]="['/typedProducts', 'woman']"/>
      <p>Woman</p>
    </a>
  </div>
  <div>
    <a>
      <img src="assets/images/kid.jpg" [routerLink]="['/typedProducts', 'kid']"/>
      <p>Kid</p>
    </a>

  </div>
  <div>
    <a>
      <img src="assets/images/unisex.jpg" [routerLink]="['/typedProducts', 'unisex']"/>
      <p>Unisex</p>
    </a>
  </div>
</div>

