.outer {
  width:max-content;

  p {
    font-size: 0.75em;
    font-weight: bold;
    margin: 0.5em;
  }

  .enabled {
    opacity: 1.0;

    &:hover {
      cursor: pointer;
    }
  }

  .disabled {
    opacity: 0.5;
  }
}
