@import '/src/styles.scss';

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #search {
    display: flex;
    position: relative;

    input {
      width: 75%;
    }

    img {
      width: 2em;
    }

    #hints {
      position: absolute;
      top: 2em;
      background-color: $light-grey;
      box-shadow: $box-shadow;
      border-top: 1px solid $dark-grey;

      p {
        width: fit-content;
        opacity: 0.8;
      }
    }
  }

  #shops {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em 0 3em 0;

    img {
      margin: 0 0.5em 0 0.5em;
    }
  }
}

/* Mobile */
@media screen and (max-width: $breakpoint-tablet) {
  @import './scss/mobile.scss';
}
/* Tablet and Desktop */
@media screen and (min-width: $breakpoint-tablet) {
  @import './scss/desktop.scss';
}
