@import '/src/styles.scss';

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8em 2em 2em 2em;

  #search {
    display: flex;
    width: 70%;

    input {
      flex: 1;
      border: none;
      border-bottom: 1px solid $dark-grey;
      padding-left: 2em;

      &:focus {
        outline: none;
      }
    }

    img {
      width: 2em;
      margin-left: 2em;

      &:hover {
        cursor: pointer;
      }
    }
  }

  #shops {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 8em;
    }
  }
}
