<div class="outer" [ngClass]="{'outer-margin-bottom': outerMarginBottom, 'outer-margin-top': !outerMarginBottom}">
  <img class="product-image" [src]="product.details.imageUrl" (click)="ngRedirectToProduct()"/>
  <div class="row">
    <p>{{product.details.title}}</p>
    <p>{{product.shop.name}}</p>
  </div>
  <div class="row">
    <div class="price">
      <p>{{product.details.price | double}}</p>
      <p class="regular">{{product.details.regularPrice | double}}</p>
    </div>
    <img *ngIf="showHeart" [src]="heart.active ? heart.activePath : heart.deactivePath" (click)="ngToggleFavourite()">
  </div>
</div>
