<div class="outer">
  <div>
    <a>
      <img src="assets/images/man.jpg" [routerLink]="['/products-by-type', {'type': 'man'}]"/>
      <p>Man</p>
    </a>
  </div>
  <div>
    <a>
      <img src="assets/images/woman.jpg" [routerLink]="['/products-by-type',  {'type': 'woman'}]"/>
      <p>Woman</p>
    </a>
  </div>
  <div>
    <a>
      <img src="assets/images/kid.jpg" [routerLink]="['/products-by-type',  {'type': 'kid'}]"/>
      <p>Kid</p>
    </a>

  </div>
  <div>
    <a>
      <img src="assets/images/unisex.jpg" [routerLink]="['/products-by-type',  {'type': 'unisex'}]"/>
      <p>Unisex</p>
    </a>
  </div>
</div>

