.outer {
  margin: 3em 2em 1em 2em;

  #search {
    width: 100%;

    img {
      margin-left: 1em;
    }

    #hints {
      width: 65%;
    }
  }

  #shops {
    margin: 3em 0 3em 0;

    img {
      height: 4em;
    }
  }
}
