.outer {
  margin: 3em 2em 1em 2em;

  #search {
    width: 100%;

    input {
      padding-left: 1em;
    }

    img {
      position: absolute;
      right: 0;
    }

    #hints {
      width: 65%;
      padding-left: 1em;
    }
  }

  #shops {
    margin: 3em 0 3em 0;

    img {
      height: 4em;
    }
  }
}
