@import '/src/styles.scss';

.outer {
  display: flex;
  margin: 4em 3em 4em 3em;

  app-products-list {
    flex: 1;
  }
}

/* Mobile */
@media screen and (max-width: $breakpoint-tablet) {
  @import './scss/mobile.scss';
}
/* Tablet and Desktop */
@media screen and (min-width: $breakpoint-tablet) {
  @import './scss/desktop.scss';
}

