<div class="outer">
  <h1>Favourite products</h1>
  <button class="remove-all" (click)="ngRemoveAllFromFavourite()">Remove All</button>
  <div class="product-list">
    <div class="product-actions" *ngFor="let product of favouriteProducts">
      <app-product [showHeart]="false" [product]="product" [outerMarginBottom]="false"></app-product>
      <div class="buttons">
        <button class="white-button" (click)="ngRemoveFromFavourite(product)">Remove</button>
      </div>
    </div>
  </div>
</div>
