<div class="outer">
  <div id="shops">
    <p>Selected shops</p>
    <div id="shops-icons">
      <img *ngFor="let shop of shops" [src]="shop.imageSource" [ngClass]="{'enabled-shop': shop.selected, 'disabled-shop': !shop.selected}" (click)="ngOnShopClick(shop)"/>
    </div>
  </div>
  <div id="search">
    <div id="input-div">
      <input type="text" autocomplete="off" placeholder="Search for product..." [(ngModel)]="searchedProduct"/>
      <img src="assets/icons/search.svg" (click)="ngOnSearch()"/>
    </div>
    <div id="hints">
      <p>Ripped jeans</p>
      <p>Rainy shoes</p>
      <p>Brand new watch</p>
    </div>
  </div>
</div>
