@import '/src/styles.scss';

.outer {
  display: flex;
  align-items: flex-start;

  #shops {
    display: flex;
    flex: 0.3;
    flex-direction: column;
    justify-content: center;

    p {
      margin: 0.5em;
    }

    #shops-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      img {
        width: 3em;
      }

      .disabled-shop {
        opacity: 0.4;
      }

      .enabled-shop {
        opacity: 1.0;
      }
    }
  }

  #search {
    display: flex;
    flex-direction: column;
    flex: 0.7;

    #input-div {
      display: flex;
      width: 100%;

      input {
        flex: 0.9;
        border: none;
        border-bottom: 1px solid $dark-grey;
        padding-left: 1em;

        &:focus {
          outline: none;
        }
      }

      img {
        width: 2em;
        margin-left: 1em;
      }
    }
  }

  #hints {
    padding: 2em;

    p {
      width: fit-content;
      opacity: 0.8;
      margin-bottom: 2em;
    }
  }
}

/* Mobile */
@media screen and (max-width: $breakpoint-tablet) {
  @import './scss/mobile.scss';
}
/* Tablet and Desktop */
@media screen and (min-width: $breakpoint-tablet) {
  @import './scss/desktop.scss';
}
