.outer {

  h1 {
    font-size: 3em;
    font-weight: normal;
  }

  .account-details {
    width: 70%;

    .details-row {

      .value {
        font-size: 1.25em;
      }
    }

    .action-buttons {
      display: flex;
      justify-content: space-between;
      margin: 1.5em 1em;

      div {
        button {
          margin-left: 1em;
        }
      }
    }
  }
}
