.outer {

  h1 {
    font-size: 3em;
    font-weight: normal;
  }

  .account-details {
    margin-top: 3em;
    width: 50%;

    .details-row {
      margin: 1em 0;

      .value {
        font-size: 1.5em;
      }
    }
  }
}
