.outer {

  h1 {
    font-size: 2em;
    font-weight: normal;
  }

  .account-details {
    width: 100%;

    .details-row {
      .label {
        font-size: 0.7em;
      }

      .value {
        font-size: 1em;
      }

      .gender-box {
        flex-direction: column;
      }
    }

    .action-buttons {
      display: flex;
      flex-direction: column;
      margin: 1.5em 1em;

      button {
        margin-bottom: 1em;
      }

      div {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
