.empty {
  display: flex;
  justify-content: center;

  p {
    margin-top: 4em;
    font-size: 1.5em;
    font-weight: bold;
  }
}

.full {
  display: flex;
  flex-wrap: wrap;
  margin: 3em;

  img {
    width: 10em;

    &:hover {
      cursor: pointer;
    }
  }
}
