/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Spartan;
    src: url(assets/fonts/Spartan/Spartan-VariableFont_wght.ttf);
}

$dark-grey: #525252;
$light-grey: #F8F8F8;
$shadow-color: rgba(0, 0, 0, 0.25);
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$error-color: rgb(235, 22, 22);

$breakpoint-tablet: 768px;

body {
    margin: 0;
    font-family: Spartan;
    color: $dark-grey;

    input {
      border: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-family: Spartan;
      }
    }

    a {
      text-decoration: none;
      color: $dark-grey;

      &:hover {
          cursor: pointer;
      }

      &:visited {
          text-decoration: none;
      }
  }
}


